@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import "tailwindcss";

:root {
  --background: #0E0E0D;
  --foreground: #ffffff;
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E0E0D;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}


.font-tradewinds {
  font-family: 'Trade Winds', cursive;
}
.whale-card{
  background-color: #161615;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  gap:12px;
  border-radius: 16px;
}